<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kennedy Ekanem</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Header with custom text -->
    <header>
        <div class="header-content">
            <!-- Left-side text -->
            <div class="header-left">
                UNΛSHMD
            </div>
        </div>
    </header>

    <!-- Landing Page -->
    <section class="landing-page">
        <div class="landing-content">
            <h1>DevOps | Developer Advocate | Open Source Evangelist</h1>
            <h2>Kennedy Ekanem</h2>
            <p>Like all of us, this page is a work in progress 🛠️</p>
            <!-- <p>matt</p> -->
            <div class="scroll-arrow">
                <img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Scroll Down">
            </div>            
        </div>
    </section>

<!-- Main Content -->
<section class="main-content" id="main-content">
    <!-- Project Views -->
    <div class="project-views">
        <h2>My Projects</h2>
        <div class="project-list">
            <div class="project-item">
                <div class="project-image">
                    <img src="{{ url_for('static', filename='images/sortapp.png') }}" alt="Project 1 Image">
                </div>
                <div class="project-description">
                    <h3>SortApp + CheckinApp</h3>
                    <p>
                        - Designed a modular system that processes guest data from CSV files, generates personalized access cards with QR codes, and distributes them via email using <strong>@useplunk</strong>.
                        <br>
                        - Developed a frontend service to interact with guest data and check guests into a high-profile event.
                    </p>
                </div>
            </div>
            <div class="project-item">
                <div class="project-image">
                    <img src="{{ url_for('static', filename='images/landest.png') }}" alt="Project 2 Image">
                </div>
                <div class="project-description">
                    <h3>Landest</h3>
                    <p>
                        - Provisioned and deployed microservices for <strong>landest.co</strong> on AWS:
                        <ul>
                            <li><strong>landest-api</strong> - An entry point to the Landest property service.</li>
                            <li><strong>landest-api-gateway</strong> - A layer that routes requests to multiple APIs or services.</li>
                            <li><strong>Zenith proxy</strong> - A proxy application that communicates with Zenith Banks APIs.</li>
                        </ul>
                        - Provisioned and configured a Docker-based email server using <strong>@mailcow</strong>.
                        <br>
                        - implemented OTel in Ops using Lightstep o collect traces, metrics, and logs from several services and send to the observability backend
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- First div -->
    <div class="content-first">
        <p>Planting more project seeds<span class="emoji-superscript">  🌱</span></p>
        <!-- Animated Dots -->
        <section class="loading-dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </section>
    </div>

    <!-- Second div -->
    <div class="content-second">
        <p>
            For some of us, we are destined to give, to radiate His love without expectation. 
            Our joy is not derived from human approval or anything natural; 
            it is an enduring burden, carried throughout life. Yet, there are many who walk a different path.
        </p>
    </div>
</section>
 
<!-- Let's Connect Section -->
<section class="lets-connect">
    <h2>Let's Connect</h2>
    <div class="social-icons">
        <a href="https://twitter.com/FusedTechie" target="_blank">
            <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter">
        </a>
        <a href="https://github.com/KenEkanem" target="_blank">
            <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/fusedtechie/" target="_blank">
            <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn">
        </a>
        <a href="#" target="_blank">
            <img src="{{ url_for('static', filename='images/deezer.png') }}" alt="Deezer">
        </a>
        <a href="https://slides.com/fusedtechie" target="_blank">
            <img src="{{ url_for('static', filename='images/microphone.png') }}" alt="Microphone">
        </a>
        <a href="https://drive.google.com/drive/folders/1KeNSCfxOuqbqcxfEOyFcuZXXDJRllZKE?usp=sharing" target="_blank">
            <img src="{{ url_for('static', filename='images/google-drive.png') }}" alt="Google Drive">
        </a>
        <a href="https://fusedtechie.hashnode.dev/" target="_blank">
            <img src="{{ url_for('static', filename='images/hashnode.png') }}" alt="Hashnode">
        </a>
    </div>
</section>

    <!-- Footer -->
    <footer>
        <p>hello@fusedtechie.me © Kennedy Ekanem. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
